body {
  height: 100vh;
}

h1,
h2 {
  text-align: center;
}

.content {
  min-height: 100%;
  width: 100%;
}

.content .card {
  width: 90%;
  margin: 0 auto;
}

#table-container {
  width: 100%;
  overflow: scroll;
  height: fit-content;
}

#chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#footer {
  background-color: #444;
  color: white;
  padding: 10px;
  margin-top: 15px;
  text-align: center;
}
